<div class="container-fluid">
	{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%}

	<div id="header-html" >

		</div>
			<div class="row">
				<div style="margin-left:35px;margin-top:-8px;">
					<img id="logo_img" src="/files/logo.png" style="height:130px;width:170px;" >
				</div>
				<div id="header" style="margin-right:-20px">
				 <b> חשבונית מס קבלה</b>
				</div>
			</div>
			<div class="row" style="margin-left:20px;margin-right:20px;">
				<div class="col-xs-5">
	        <div class="text-right">
						<p style="margin-top: 1px; margin-left: 27%; font-size:4"> <font size=3> {{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd/mm/yyyy") }}</font>
								<font size=4> <b> : תאריך</b> </font>
						</p>
						<hr align="right"  style="width:100%; border: 1px solid black; margin-top: 10px;line-height:1px;" />
						<p style="margin-top: 1px; margin-left: -30%; font-size:4">
							<font size=3><span> {{doc.name}}</span></font>
							<font size=4><b>  : מספרכם </b></font>
						</p>
						<p style="margin-top: 1px; margin-left: 27%; font-size:4">
							<font size=3><span>15/788723 </span></font>
							<font size=4><b>  : מספר</b></font>
							</p>
	        </div>
	          <!--<p style="text-decoration: underline;text-underline-position: under; "><small>Proposal is valid for 14 days from the date shown</small></p>-->

	      </div>
				<div class="col-xs-7">
	        <div class="pull-right text-right">
						<font size=4><b> :לכבוד</b></font><br>
						<font size=3><b>{{ doc.customer }}</b></font>
						<font size=3><p>{{ doc.address_display}}</p></font>
	        </div>
	      </div>
			</div>

		<div class="row" style="margin-left:20px;margin-right:20px;margin-bottom:10px;">
			<div class="col-xs-12">
				<table class="table" style="width:100%;direction:rtl;text-align:right;">
					<thead>
						<tr>
							<td style="text-align:right;"> <font size=2> <b>{{ _("#") }}</b> </font> </td>
							<td style="text-align:right;"> <font size=2><b>{{ _("מס' פריט") }}</b>  </font> </td>
							<!--<td></td>-->
							<td style="text-align:right;"> <font size=2><b>{{ _("תאור פריט") }}</b>  </font> </td>
							<td ></td>
							<td style="text-align:right;"> <font size=2><b>{{ _("כמות") }}</b>  </font> </td>
							<td style="text-align:right;"> <font size=2><b>{{ _( "ברוטו ליחידה") }}</b>  </font> </td>
							<td style="text-align:right;"> <font size=2><b>{{ _("%הנחה") }}</b>  </font> </td>
							<td style="text-align:right;"> <font size=2><b>{{ _("נטו ליחידה") }}</b>  </font>  </td>
							<td style="text-align:right;"> <font size=2><b>{{ _("סה\"כ נטו") }}</b>  </font> </td>
						</tr>
					</thead>
					<tbody>
						{% set cnt=namespace(count=1) %}
						{% for item in doc.items %}
						<tr>
							<td style="text-align:right;">{{ cnt.count }}</td>
							{% set cnt.count=cnt.count+1 %}
							<td style="text-align:right;">{{ item.item_code }}</td>
							<!-- <td style="text-align:right;"><img id="item_img" src= '{{ item.image }}'></td> -->
							<td colspan="2" style="text-align:right;" >{{ item.item_name }}</td>
							<td style="text-align:right;">{{ item.qty }}</td>
							<td style="text-align:right;">{{ '%0.2f' % item.price_list_rate|float }}</td>
							<td style="text-align:right;">{{item.discount_percentage }}%</td>
							{% if item.discount_percentage > 0 %}
							<td style="text-align:right;">{{ '%0.2f' % (item.rate*item.discount_percentage/100)|float }}</td>
							{% else %}
							<td style="text-align:right;">{{ '%0.2f' % item.rate|float }}</td>
							{% endif%}
							{% if item.discount_percentage > 0 %}
							<!-- <td style="text-align:right;">{{ '%0.2f' % (item.rate*item.discount_percentage/100)|float }}</td> -->
							<td style="text-align: right;">{{ '%0.2f' % (item.amount*item.discount_percentage/100)|float }}</td>
							{% else %}
							<td style="text-align: right;">{{ '%0.2f' % (item.amount)|float }}</td>
							<!-- <td style="text-align:right;">{{ '%0.2f' % item.rate|float }}</td> -->
							{% endif%}
						</tr>
						{% endfor %}
					</tbody>
					<tfoot style="text-align: right;line-height:5pt;">
						<tr>
							<td></td>
						</tr>
						<tr >
							<td colspan="4"></td>
							 <td style="text-decoration:underline;">{{doc.total_qty}} </td>
							 <td></td>
							 <td></td>
							<td style="font-size: 12" colspan="1"><b> {{ _("סך הכל ללא מע\"מ:") }}</b></td>
							<td><b>{{ '%0.2f' % doc.total|float }}</b></td>
						</tr>
						<tr>
							<td colspan="7"></td>
							<td colspan="1"><b> {{ _("הנחה:") }}</b></td>
							{% set disc=doc.total*doc.additional_discount_percentage/100 %}
							<td><b>{{ '%0.2f' % disc|float }}</b></td>
						</tr>
						<tr>
							<td colspan="7"></td>
							<td colspan="1"> <b>{{ _("סה\"כ לאחר הנחה:") }}</b></td>
							{% set total_aftr_disc=doc.total-disc %}
							<td><b>{{ '%0.2f' % total_aftr_disc|float }}</b></td>
						</tr>
						<tr>
							<td colspan="7"></td>
							<td colspan="1"><b>{{ _("מע\"מ:") }}</b> <b class='small'>{{ _("17%") }}</b></td>
							{% set tax=0 %}
							{%  if doc.taxes_and_charges %}
								{% set word = doc.taxes_and_charges.split(' ') %}
								{% if word[0]=="VAT" and word[1]=="17" %}
									{% set tax=total_aftr_disc*0.17 %}
								{% endif %}
							{% endif %}
							<td><b>{{ '%0.2f' % tax|float }}</b></td>
						</tr>
						<tr>
							<td colspan="7"></td>
							<td id="total" colspan="1"> <b>{{ _("סה\"כ לתשלום") }}</b></td>
							{% set grand_total=total_aftr_disc+tax %}
							<td id="total"><b>{{ '%0.2f' % grand_total|float }}</b></td>
						</tr>
					</tfoot>
				</table>
			</div>

		<div>
			<div class="row" style="margin-left:20px;margin-right:20px;margin-bottom:10px;margin-top:400px;">
				<!-- <div class="col-xs-12" style="margin-top:20px;" > -->
				<p style="direction:rtl;margin-right:2px"> <font size=3><b>פרטי תשלום: חשבונית מס קבלה</b></font> </p>
					<table style="width:100%;margin-bottom:100px;">
						<thead>
							<tr>
								<td style="text-align:right; "> <b>{{ _("#") }}</b> </td>
								<td style="text-align:right; "> <b>{{ _("פרטים") }}</b> </td>
								<td style="text-align:right;"> <b>{{ _("סוג תשלום") }}</b> </td>
								<td style="text-align:right;"> <b>{{ _("מס\' שיק") }}</b> </td>
								<td style="text-align:right;"> <b>{{ _("ת. פרעון") }}</b> </td>
								<td style="text-align:right; "> <b>{{ _("בנק") }}</b> </td>
								<td style="text-align:right; "> <b>{{ _("סניף") }}</b> </td>
								<td style="text-align:right; "> <b></b> </td>
								<td style="text-align:right; "> <b>{{ _("סכום") }}</b> </td>
							</tr>
						</thead>
						<tbody>
							{% set pay_ref=frappe.db.get_value("Payment Entry Reference", {"reference_name":doc.name} , ["parent", "reference_name","allocated_amount"], as_dict=true) %}

							{% set t=namespace(total=0) %}
							{% set cnt=namespace(count=1) %}
							{% if pay_ref %}
								{% set pay_entry=frappe.db.get_value("Payment Entry", {"name":pay_ref['parent']} , ["mode_of_payment", "reference_no","posting_date","bank","paid_from","bank_account_no"], as_dict=true) %}

							<tr>
								<td style="text-align:right;">{{ cnt.count }}</td>
								{% set cnt.count=cnt.count+1 %}
								<td style="text-align:right;">{{ pay_ref.reference_name }}</td>
								<td style="text-align:right;" >{{ pay_entry.mode_of_payment }}</td>
								<td style="text-align:right;">{{ pay_entry.reference_no }}</td>
								<td style="text-align:right;">{{ pay_entry.posting_date }}</td>
								<td style="text-align:right;">{{ pay_entry.bank }}</td>
								<td style="text-align:right;">{{ pay_entry.paid_from }}</td>
								<td style="text-align:right;">{{ pay_entry.bank_account_no }}</td>
								<td style="text-align:right;">{{ pay_ref.allocated_amount }}</td>

								{% set t.total=t.total+pay_ref.allocated_amount %}
							</tr>
							{% endif %}
						</tbody>
						<tfoot style="text-align: right;">
							<tr>
								<td></td>
							</tr>
							<tr>
								<td colspan="7"></td>
								<td id="total" > <b>{{ _("סך הכל פריטים") }}</b></td>
								<td id="total" ><b>{{ t.total }}</b></td>
							</tr>
						</tfoot>
					</table>
				<!-- </div> -->
			</div>
			<div id="footer-html" class="visible-pdf">
			{% if not no_letterhead and footer %}
				<div class="letter-head-footer">
					{{ footer }}
				</div>
			{% endif %}

			<div class="row" style="direction:rtl;margin-right:20px;margin-right:40px;">
				<!-- <div class="col-xs-12"> -->
					<p id="terms" ><small>
						<b>זיכוי תקף לשנתיים מתאריך החשבונית</b>
					</small></p>
				<!-- </div> -->
			</div>

		<hr style="border: 3px solid orange;margin-bottom:10px;">
		<!-- <div class=""> -->
		<div class="row" style="direction:rtl;margin-left:20px;margin-right:20px;margin-top:20px;margin-bottom:-90px;">
			<small>
				<div class="col-xs-12">
					<div class="col-xs-2">
						<span style="">
							<font size=1><b>ח.פ.</b> 514972330 &emsp;&emsp;</font>
							<!-- <b>  טלפון :</b> 2-650-6262 -->
						</span>
					</div>
					<div class="col-xs-3">
						<span style="">
							<!-- <b>Business no.:</b> ח.פ. 514972330 &emsp;&emsp; -->
							<font size=1><b>  טלפון :</b> 02-650-6262</font>
						</span>
					</div>
					<div class="col-xs-7" style="text-align:right;">
						<font size=1><b>פליי פאנקשן ישראל בע"מ</b> תכלת מרדכי 21 משרד מספר 1202 ירושלים 9439645 </font>
					</div>
				</div>
			</small>
		</div>
		<!-- </div> -->

</div>
</div>
</div>
</div>
