
<div class="container-fluid">
	{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%}

		<div id="header-html" >
            <div style="margin-left:35px;margin-top:-8px;">
				<img id="logo_img" src="assets/playfunction/images/logo.png" >
			</div>
			<div id="header" >
			 <b>קבלה </b>
			</div>
  		</div>
      <div class="row ">
        <div class="col-xs-4">
          <div class="text-right">
            <font size=2>  </font>
            <p style="margin-top: 1px; margin-left: 27%; font-size:2">{{ frappe.utils.formatdate(doc.get_formatted('posting_date'), "dd/mm/yyyy") }}
              <b> : תאריך</b>
            </p>
            <hr align="right"  style="width:73%; color: #000000; margin-top: 10px;" />
            <p style="margin-top: 1px; margin-left: 27%; font-size:2">
              <span> #1214324 </span>
              <b>  : מספרכם </b>
            </p>
            <p style="margin-top: 1px; margin-left: 27%; font-size:2">
              <span>15/788723 </span>
              <b>  : מספר</b>
              </p>
          </div>
            <!--<p style="text-decoration: underline;text-underline-position: under; "><small>Proposal is valid for 14 days from the date shown</small></p>-->

        </div>
        <div class="col-xs-8">
          <div class="pull-right text-right">
            <font size=4><b>לכבוד </b></font><br>
            <font size=2><b>{{ doc.party }}</b></font>
            <p>{{ doc.party_name}}</p>
          </div>
        </div>
      </div>


		<br><br>

		<div class="row">
			<div class="col-xs-12">
				<table style="width:100%;">
					<thead>
						<tr>
							<th style="text-align:left; border:1px solid;">{{ _("#") }}</th>
							<th style="text-align:left; border:1px solid;">{{ _("פרטים") }}</th>
							<th style="text-align:left; border:1px solid;">{{ _("סוג תשלום") }}</th>
							<th style="text-align:right;border:1px solid;">{{ _("מס' שיק") }}</th>
							<th style="text-align:right;border:1px solid;">{{ _("ת. פרעון") }}</th>
							<th style="text-align:left; border:1px solid;">{{ _("בנק") }}</th>
							<th style="text-align:left; border:1px solid;">{{ _("סניף	") }}</th>
							<th style="text-align:left; border:1px solid;">{{ _("מספר חשבון") }}</th>
							<th style="text-align:right; border:1px solid;">{{ _("סכום") }}</th>
						</tr>
					</thead>
					<tbody>
						{% set t=namespace(total=0) %}
						{% set cnt=namespace(count=1) %}
						{% for ref in doc.references %}
						<tr>
							<td style="text-align:left; border:1px solid;">{{ cnt.count }}</td>
							{% set cnt.count=cnt.count+1 %}
							<td style="text-align:left; border:1px solid;">{{ ref.name }}</td>
							<td style="text-align:left; border:1px solid;" >{{ doc.mode_of_payment }}</td>
							<td style="text-align:right; border:1px solid;">{{ doc.reference_no }}</td>
							<td style="text-align:right;border:1px solid;">{{ doc.posting_date }}</td>
							<td style="text-align:left; border:1px solid;">{{ doc.bank }}</td>
							<td style="text-align:left; border:1px solid;">{{ doc.paid_from }}</td>
							<td style="text-align:left; border:1px solid;">{{ doc.bank_account_no }}</td>
							<td style="text-align:right; border:1px solid;">{{ ref.allocated_amount }}</td>

							{% set t.total=t.total+ref.allocated_amount %}
						</tr>
						{% endfor %}
					</tbody>
					<tfoot style="text-align: right;line-height:10pt;">
            <tr>
              <td></td>
            </tr>
						<tr>
							<td colspan="7"></td>
							<td id="total" > <b>{{ _("סך הכל") }}</b></td>
							<td id="total" ><b>{{ t.total }}</b></td>
						</tr>
					</tfoot>
				</table>
			</div>
		<div>

		<div id="footer-html" class="visible-pdf">
			{% if not no_letterhead and footer %}
				<div class="letter-head-footer">
					{{ footer }}
				</div>
			{% endif %}
      <div  class="row">
			<div class="col-xs-12" style="direction:rtl;">
				<p id="terms"><small>
					<b>זיכוי תקף לשנתיים מתאריך החשבונית</b>
				</small></p>
				<hr style="border: 3px solid orange;">
			</div>
		</div>
    <div class="row" style="direction:rtl;">
      <small>
        <div class="col-xs-12">
          <div class="col-xs-5">
            <span style="float:left;margin-left:10px">
              <b>Business no.:</b> ח.פ. 514972330 &emsp;&emsp;
              <b>  טלפון :</b> 2-650-6262
            </span>
          </div>
          <div class="col-xs-7">
            <b>Playfunction :</b> פליי פאנקשן ישראל בע"מ תכלת מרדכי 21 משרד מספר 1202 ירושלים 9439645 &emsp;&emsp;
          </div>
        </div>
      </small>
    </div>


</div>
