/* ------------------------ header ----------------------------------*/

#topBar {
	height: 50px;
}

.menuCont {
	border: none!important;
	border-radius: 0;
	box-sizing: border-box;
	height: inherit;
	width: 100%;
	padding: 10px 30px;
	background-color: #fff;
	color: #444;
	position: fixed;
	z-index: 1001;
	margin: 0 -15px;
}

.pep-header {
	background-color: transparent;
	border-bottom-color: transparent;
}
#btnMenuHome {
	margin-right: 45px;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 2;
}

.pep-icon {
	text-align: center;
	height: 30px;
	width: 30px;
	font-size: 24px;
	padding: 3px 0;
	color: rgb(34, 34, 34);
}

.logOImage {
	background-color: transparent;
	border-bottom-color: transparent;
}

#navImgLogo {
	opacity: 1;
	cursor: default;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 2;
}

.navImgLogo {
	height: 30px;
	max-width: 150px;
}

.pep-dropdwn {
	height: 30px;
	width: 30px;
	list-style: none;
}

.a-dropdwn {
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 2;
}


/*-------------------------- home ----------------------------*/

.home_img {
	object-fit: cover;
	display: block;
	max-height: 550px;
	width: 100%;
	background-size: cover;
}

.fotterBtn {
	display: inline-block;
	border-radius: 5px;
}

.fastBtn {
	line-height: 46px;
	margin: 30px auto 0;
	padding: 0 15px;
	background: #e6e6e6;
	border: 2px solid #fff;
	color: #2d2926;
	box-sizing: border-box;
	cursor: pointer;
}



.homebtn {
	border-radius: 5px;
}

.homebtn:hover {
	background: rgb(120, 170, 0);
}

.ellipsis {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.centered {
	text-align: center;
}

.pep-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 74px;
	text-align: center;
	font-size: 1.5em;
}

/*-------------------Item Catalog ------------------------*/

.catlog_header {
	background-color: #f3f3f3;
	height: auto;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	line-height: 40px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
}

.headerTitle {
	padding: 0 15px;
	height: 30px;
}

.list-id {
	text-decoration: none !important;
}

/*-----------------------item-listview ----------------------*/

/*header*/
#topBarContainer {
	background-color: #fff;
	width: 100%;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 8px;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.item-grp-nav {
	padding-left: 15px;
}

.topBarIcon {
	text-align: center;
	border: 1px solid #ccc;
	background-color: #78aa00;
	color: #fff;
	box-sizing: border-box;
	line-height: 27px;
	height: 30px;
	line-height: 28px;
	width: 30px;
	cursor: pointer;
}

.topBarIcon:hover {
	color: #fff;
}

.backbtn {
	padding: 0;
	margin: 5px 15px 0 10px;
	height: 24px;
	line-height: 24px;
	min-width: 35px;
	font-size: 12px!important;
}

.grnbtn {
	background-color: #78aa00;
	border: 0;
	color: #fff;
}

.search-div {
	padding-left: 15px;
	padding-right: 8px;
}
.search_ip {
	height:30px;
	width: 200px;
	max-width: 35vw;
	padding: 0px 10px;
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-right: none;
	border-left: none;
}

#goToCartBtn {
	min-width: 120px;
	background-color: #78aa00;
	border: 0;
	color: #fff;
}

.allButtons {
	text-align: center;
	border-width: 1px;
	border-style: solid;
	font-size: 14px!important;
	height: 30px;
	line-height: 29px;
	padding: 0 10px;
	width: auto!important;
	display: inline-block;
	margin: 0 5px;
	box-sizing: border-box;
}
/*header*/

.pepperi-sidebar {
	margin-bottom: 24px;
	z-index: 497;
	height: 100%;
	border-right: 1px solid #bababa;
	background-color: #fff;
	position: fixed;
	padding: 0 0 0 15px;
	top: inherit;
}

.pepperi-sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #818181;
	display: block;
}

.pepperi-content {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 220px;
	margin-top: -5px;
}

.pep-ul {
	list-style-type:none;
}

.rectangle {
	width: 2px;
	height: 20px;
	opacity: .16;
	border-radius: 1px;
	background-color: grey;
	float: left;
}

#dvSmSearchHeader {
	padding-left:25px;
}

.tree-li {
	max-width: 95%;
	font-family: segoeuib,sans-serif;
	font-size: 14px;
	letter-spacing: .6px;
	list-style-type: none;
	cursor: pointer;
}

.tree-li.selected {
	color: #78aa00;
	background-color: #fff;
	font-weight: 600;
	opacity: 1;
}

.mat-tree {
	display: flex;
	align-items: center;
	flex: 1;
	overflow: hidden;
	word-wrap: break-word;
	min-height: 28px;
}

.item_group_fil {
	padding-left: 10px;
	margin-right: 16px;
}

.menu-dot {
	margin: 12px 5px 0;
}

.ObjectMenu {
	cursor: pointer;
	line-height: 34px;
}

.fa-angle-right::before {
    content: "";
}

.item-img {
	height: 34px;
	max-width: 34px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.qty-minus, .qty-plus {
	color: #ccc;
	height: 21px;
	line-height: 17px;
	cursor: pointer;
}

.gQs {
	position: relative;
	line-height: 34px;
}

.custom-qs-field {
	height: 32px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	border: 0;
	color: #888;
	box-sizing: border-box;
	border-radius: 5px;
	max-width: 120px;
	min-width: 30px;
	padding: 0 5px;
	margin: 0 7px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	border-color: #78aa00;
	user-select: text;
}

.custom-qs-field::-webkit-inner-spin-button,
.custom-qs-field::-webkit-outer-spin-button{
	-webkit-appearance: none;
}

.custom-qs-field.selected {
	outline-width: 0;
	border: 1px solid #78aa00;
	border-color: #78aa00 !important;
	background-color: #fff;
}
.tree-li:hover{
	color: #78aa00;
}

.item-list-body tbody tr:hover{
	background: #ffc !important;
}

.item-tbl-body {
	margin-top: -20px;
	max-height: 400px;
	overflow-y: auto;
	padding-bottom: 5px;
	overflow-x: hidden;
}

.item-list-body tr:first-child td {
	border-top: none;
}

/*------------------Item Details-------------------------*/

.item-img-dv {
	padding-bottom: 20px;
	padding-top: 20px;
}

.item_data {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}