
<div class="cart-main">
	<div class="row cart-row total-row">
		<div class="col-xs-4 cart-remark">

		</div>
		<div class="col-xs-8">

		</div>
	</div><hr>
	{% if (data.items.length) { %}
		{% $.each(data.items, function(i, item){ %}
			<div class="row cart-row cart-item">
				<div class="col-xs-4 cart-item-img">
					<img src="{{ item.img }}">
				</div>
				<div class="col-xs-6 cart-item-data">
					<div class="row">
						<span class="cart-label">Desc: </span>{{ item.item_code }}
					</div>
					<div class="row">
						<span class="cart-label">Unit Price: </span>{{ item.price.toFixed(2) }}
					</div>
					<div class="row">
						<span class="cart-label">Item Discount: </span>{{ item.discount }}
					</div>
					<div class="row">
						<span class="cart-label">Total Price After Discount: </span>
						{% disc_price =item.price - (item.price *flt(item.discount) / 100) %}
						{{  disc_price.toFixed(2) }}
					</div>
					<div class="row">
						<span class="cart-label">Qty: </span>
					</div>
					<div class="row">
						<div class="gQs" data-item="{{ item.item_code }}" data-price="{{ item.price || 0}}" data-discount="{{ item.discount }}"
						data-img="{{ item.image }}">
							<span  class="qty-minus-cart">
								<i class="fa fa-minus"></i>
							</span>
							{% if (item.item_code in local) { %}
								<input  autocomplete="off" class="ellipsis custom-qs-field unitqty" name="UnitsQty" title="{{ local[item.item_code][0] }}" value="{{ local[item.item_code][0] }}" type="number">
							{% } else { %}
								<input  autocomplete="off" class="ellipsis custom-qs-field unitqty" name="UnitsQty" title="0" value="0"  type="number">
							{% } %}
							<span  class="qty-plus-cart">
								<i  aria-hidden="true" class="fa fa-plus"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="row">
						<i aria-hidden="true" class="fa fa-ellipsis-h fa-lg"></i>
					</div>
					<div class="row">
						<!-- <div class="delete_item">
							<i class="fa fa-trash " aria-hidden="true"></i>
 						</div> -->
					</div>
				</div>
			</div><hr>
		{% }); %}
		<div class="checkoutbtn center">
			<span class="dropdown">
				<button class="pepCheckout allButtons grnbtn"
					type="button" data-toggle="dropdown">
					<span>Checkout</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="pepCheckout_opt">
						<a data-value="Quotation">Request for Quotation</a>
					</li>
					<li class="pepCheckout_opt">
						<a data-value="Sales Order">Place Order</a>
					</li>
				</ul>
			</span>
		</div>

	{% } else { %}
		<div class="no-data">Items not found</div>
	{% } %}
</div>
