<style media="screen">
	.total_details{
		padding-left:10px;
		padding-right:10px;
		margin-top: 0px;
		line-height: 15px;
	}
</style>
<div class="row mainDiv">
	<div class="content-nav container-fluid" id="topBarContainer">
		<div class="row" >
			<div class="col-xs-4 pull-left container-fluid">
				<span>
					<button  type="button" class="allButtons grnbtn backbtn ellipsis pull-left flip fa fa-lg fa-long-arrow-left hide">
					</button>
				</span>
				<span class="ellipsis item-grp-nav" data-group="{{item_group}}">
					{{item_group}}
				</span>
				<span style="padding-left: 3px;"><i aria-hidden="true" class="fa fa-angle-right"></i></span>
				<span class="ellipsis ch-item-grp-nav" data-group="{{child_item_group}}">
					{{child_item_group}}
				</span>
			</div>
			<div class="col-xs-8 pull-right">
				<div class="pull-right flip">
					<span class="total-cnt" data-total="{{ total || 0 }}">Qty: 0</span>
					<span>
						<button type="button" class="allButtons grnbtn ellipsis"
							id="goToCartBtn">
						<span class="fa fa-shopping-cart fa-lg">&nbsp;</span>Cart
						</button>
						<span class="dropdown">
							<button class="pepCheckout allButtons grnbtn hide"
								type="button" data-toggle="dropdown">
								<span>Checkout</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li class="pepCheckout_opt">
									<a data-value="Quotation">Request for Quotation</a>
								</li>
								<li class="pepCheckout_opt">
									<a data-value="Sales Order">Place Order</a>
								</li>
							</ul>
						 </span>
					</span>
				</div>
				<div class="pull-right flip total_details" style="">

				</div>
				<div class="pull-right flip search-div">
					<a class="topBarIcon pull-right flip search-btn">
						<span class="fa fa-search fa-lg"></span>
					</a>
					<input class="pull-right search_ip" results="5" type="search" placeholder="Search...">
					<a class="topBarIcon pull-right flip search-clr">
						<span class="fa fa-close fa-lg"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 pepperi-sidebar">
			<div class="item-group-ul">
				<ul class="pep-ul">
					<div class="mat-tree">
						<li class="tree-li-grp" data-group="All">
							<span class="rectangle"></span>
							<span class="item_group_fil" title="All">
								All
							</span>
						</li>
					</div>
					{% $.each(data.item_groups, function(parent, child){ %}
						<div class="mat-tree">
							<li class="tree-li-grp" data-group="{{ parent }}">
								<span class="rectangle"></span>
								<span class="item_group_fil" title="{{ parent }}">
									{{ parent }}
								</span>
								{% if (Object.keys(child).length) { %}
									<ul class="child-box">
									{% $.each(child, function(ch, gch){ %}
											<li class="tree-li-chgrp" data-group="{{ch}}" title="{{ch}}" data-parent="{{ parent }}">
												<a class="child-a">{{ ch }}
												<i aria-hidden="true" class="fa fa-angle-right ch-fa"></i></a>
												{% if (Object.keys(gch).length) { %}
													<ul class="grand-child">
													{% $.each(gch, function(grandch, gch){ %}
															<li class="grand-ch-grp" data-group="{{ grandch }}" title="{{grandch}}" data-parent="{{ch }}" data-grand-parent="{{ parent }}">
																<a class="grandch-a">
																	{{ grandch }}
																</a>
															</li>
													{% }); %}
													</ul>
												{% } %}
											</li>
									{% }); %}
									</ul>
								{% } %}
							</li>
						</div>
					{% }); %}
				</ul>

			</div>
			<!-- <div  id="dvSmSearchHeader" class="row ng-star-inserted">
				<div  class="col-xs-8 ellipsis zp">
					<label  class="pull-left flip" title="Smart search">Smart search
					</label>
				</div>
				<div  class="col-xs-4 ellipsis zp text-right flip"></div>
			</div>
			<div class="item-category-ul">
				<ul class="pep-ul">
					{% $.each(data.category, function(cat, subcat){ %}
						<div class="mat-tree">
							<li class="tree-li-cat" data-subcat="{{ subcat }}">
								<span class="rectangle"></span>
								<span class="item_group_fil" title="{{ cat }}">
									{{ cat }}
								</span>
								<span class="pull-right flip">
									<i aria-hidden="true" class="fa fa-angle-right"></i>
								</span>
							</li>
						</div>
					{% }); %}
				</ul>
			</div> -->
			<div class="subcat_menu hide pull-left">
				<div class="smHeader">
					<a class="pep-clear pull-left flip sbfil_btn" title="Clear">Clear</a>
					<label class="cat_label"></label>
					<a class="pep-done pull-right flip sbfil_btn" title="Done">Done</a>
				</div>
				<div class="smBody">

				</div>
			</div>
		</div>
		<div class="col-xs-10 pepperi-content">
			<!-- item table -->
		</div>
	</div>
</div>
