<div class="" style="direction:rtl;">
  <p> המשלוח שלך בדרך <b> {{doc.customer}} </b> ! </p>
  <br>
  <p> מספר ההזמנה שלך <b> {{si}} </b>  </p>
  <br>
  <p> תאריך ביצוע ההזמנה {{date}} </p>
  <p> ברקוד משלוח שלך הינו {{doc.tracking_number}} </p>

</div>
<br><br>
<div class="" style="direction:rtl;">
  <p> שימו לב, אין להגיב למייל זה .
בכל מקרה של שאלה או בקשה, אתם מוזמנים ליצור איתנו קשר באמצעות כתובת הדוא"ל שלנו info@playfunction.co.il </p>
  
  <p>או באמצעות שירות הלקוחות הידידותי שלנו .</p>
  <p>נשמח לסייע לכם תמיד, <br>
  הצוות של פליי פאנקשן</p>
</div>
