<div class="" style="direction:rtl;">
  <p>שלום {{doc.party_name}} </p>
  <p> מספר הבקשה שלך הינו {{doc.name}} </p>
  <br><br>
  <p>אנו מקווים שנהנת מתהליך ביצוע הבקשה להצעת מחיר באתר שלנו!</p>
  <p>ההודעה הזו נשלחה כדי לאשר את קבלת ההצעה כפי שנשלחה על ידך.</p>
  <p>הצעת מחיר תשלח אליך לדואר האלקטרוני שציינת בהקדם האפשרי. </p>
</div>
<br><br>
<div class="" style="direction:rtl;">
  <p>לכל שאלה או בקשה, אל תהססו לפנות אלינו.</p>
</div>
<div class="" style="direction:rtl;">
  <p> שימו לב, אין להגיב למייל זה .
בכל מקרה של שאלה או בקשה, אתם מוזמנים ליצור איתנו קשר באמצעות כתובת הדוא"ל שלנו info@playfunction.co.il </p>
  <p>או באמצעות שירות הלקוחות הידידותי שלנו .</p>
  <p>נשמח לסייע לכם תמיד, <br>
  הצוות של פליי פאנקשן</p>
</div>
