<div class="" style="direction:rtl;">
  <p>  שלום {{doc.customer}}</p>
  <p>   מספר ההזמנה שלך הינו  {{doc.name}}</p>
  <br>
  <p>אנו מקווים שנהנת לרכוש באתר שלנו! ההודעה הזו נשלחה כדי לאשר את קבלת ההזמנה לפי הפרטים שלהלן: </p>
</div>
<div class="col-sm-12" style="width:80%;">
  <table class="table" style="direction:rtl;">
    <tr>
      <th> <b callspan=2>תאור מוצר</b> </th>
      <th> <b>כמות</b></th>
      <th> <b>מחיר</b> </th>
      <th> <b>סה"כ</b> </th>

    </tr>
    {% for i in doc.items%}

    {% set url = frappe.db.get_value("File",{"attached_to_name":i.item_code},"file_url") %}

    <tr>
      <td>
        {{i.item_code}} <br>
        {{i.item_name}}
      </td>
      <td>{{i.qty}}</td>
      <td>{{i.rate}}</td>
      <td>{{i.amount}}</td>
    </tr>
    {% endfor%}
    <tfoot>
      <tr>
        <td>  <b>סה"כ לתשלום</b>  </td>
        <td> <b>{{doc.total}}</b> </td>

      </tr>
    </tfoot>
  </table>
</div>
<div class="" style="direction:rtl;">
  <p>משלוח:</p>
  <br>
  <p>הודעה נפרדת תשלח אליך בדוא"ל לצורך מעקב החבילה שלך.
מספר ימי העבודה הנדרשים למסירת ההזמנה שלך מבוסס על תאריך השליחה ולא על תאריך ביצוע ההזמנה.</p>
<p>לכל שאלה או בקשה, אל תהססו לפנות אלינו בדוא"ל.
כל ההזמנות כפפות לתנאי השירות ותקנון האתר.</p>
</div>
<div class="col-sm-12" style="direction:rtl;">
  <p>שימו לב, אין להגיב למייל זה .
בכל מקרה של שאלה או בקשה, אתם מוזמנים ליצור איתנו קשר באמצעות כתובת הדוא"ל שלנו info@playfunction.co.il</p>
<p>או באמצעות שירות הלקוחות הידידותי שלנו .</p>
<p>נשמח לסייע לכם תמיד, <br>
הצוות של פליי פאנקשן</p>

  <!-- <table class="table">
    <thead>
      <th>Delivery Address</th>
      <th>Billing Address</th>
    </thead>
    <tbody>
      <td>Mr Abraham Gross <br>
          6 hurstdene gardens <br>
          London <br>
          N15 6NA <br>
          United Kingdom</td>
      <td>
        Mr Abraham Gross <br>
        6 hurstdene gardens <br>
        London <br>
        N15 6NA <br>
        United Kingdom
      </td>
    </tbody>
  </table> -->
</div>
