div#header {
	overflow: hidden;
	padding: 0px 20px 0 20px;
	position: relative;
	background-color: #e0e0d8;
}

#header h1.page-title {
	float: left;
}

#header h1.page-title {
	color: #000;
	padding-bottom: 10px;
	font-size: 1.385em;
	font-weight: normal;
}

.filter-search {
	float: right;
	padding-right: 10px;
}